<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>Erzeugt und Zerstört die Datenbankverbindung</description>
        <listener-class>eventhandler.ContextHandler</listener-class>
    </listener>
    <servlet>
        <servlet-name>ClientController</servlet-name>
        <servlet-class>controller.ClientControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AminControllerServlet</servlet-name>
        <servlet-class>controller.AminControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientController</servlet-name>
        <url-pattern>/register</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/activate</url-pattern>
        <url-pattern>/renew</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/clientFilmListe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AminControllerServlet</servlet-name>
        <url-pattern>/return</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/adminFilmListe</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
